# ==========================================
#   KONFIGURATION – hier anpassen!
# ==========================================
MAIL_TO="mail@exanple.com"
DEVICE_NAME="Servername"
MAIL_FROM="mail@exanple.com"
MAIL_HOST="mein.mailserver.com"
MAIL_PORT="465"
MAIL_USER="mail@exanple.com"
MAIL_PASS="password"
DAILY_THRESHOLD=20
CRON_MEASURE_1="0 6  * * *"
CRON_MEASURE_2="0 12 * * *"
CRON_MEASURE_3="0 18 * * *"
CRON_REPORT="0 20 * * *"
TIMEZONE="Europe/Vienna"
# ==========================================
